<activity
    android:name="MainActivity"
    android:theme="@style/Theme.AppCompat.NoActionBar.Fullscreen"
    android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode"
    android:launchMode="singleTask"
    android:exported="true">
    <!-- Remove a Action Bar e coloca Fullscreen -->
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="android.intent.category.LEANBACK_LAUNCHER" /> <!-- Importante para Android TV -->
    </intent-filter>
    <uses-permission android:name="android.permission.INTERNET" />
</activity>